
.footer-background{
    background-color: #000;
    width: 100%;
    height: 1200px;
}
.footer{
    background-color: blueviolet;
    width: 85%;
    margin: auto;
}
.footer-Plogo{
    width: 150px;
    height: 25px;
    margin-top: 8px;
    margin-right: 40px;
}
.footer-Plogo img{
    width: 100%;
}